In [334]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, LabelEncoder
import pandas as pd
import tensorflow as tf
from  tensorflow.keras.callbacks import ModelCheckpoint
import keras_tuner as kt

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [335]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# Drop STATUS column for optimization
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

## Optimization - Bucket ASK_AMT column

In [336]:
application_df.ASK_AMT = application_df.ASK_AMT.astype('object')

In [337]:
ask_amount_counts = application_df.ASK_AMT.value_counts()

In [338]:
# Determine which values to replace if counts are less than ...?
replace_amount = list(ask_amount_count[ask_amount_counts < 500].index)
                      
# Replace in dataframe
for amt in replace_amount:
    application_df.ASK_AMT = application_df.ASK_AMT.replace(amt,"Other")
        
# Check to make sure binning was successful
application_df.ASK_AMT.value_counts()

5000     25398
Other     8901
Name: ASK_AMT, dtype: int64

In [339]:
application_df = pd.get_dummies(application_df, columns=['ASK_AMT'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL,ASK_AMT_5000,ASK_AMT_Other
0,T10,Independent,C1000,ProductDev,Association,1,0,N,1,1,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1,0,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0,1,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1,0,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1,0,1

In [340]:
app_type_counts = application_df.APPLICATION_TYPE.value_counts()

# Determine which values to replace if counts are less than ...?
replace_application = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [341]:
app_class_count = application_df.CLASSIFICATION.value_counts()

# Determine which values to replace if counts are less than ..?
replace_class = list(app_class_count[app_class_count < 1800].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [342]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [343]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(application_cat, 1)
application_df.head()

,STATUS,IS_SUCCESSFUL,ASK_AMT_5000,ASK_AMT_Other,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1,1,0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,1,0,1,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,0,1,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,1,0,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,1,0,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [344]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', 1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [345]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Optimization - Increase nodes

## Optimization - Increase hidden layers

## Optimization - Change activation function

In [351]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='sigmoid'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='sigmoid'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_33 (Dense)             (None, 100)               4500
_________________________________________________________________
dense_34 (Dense)             (None, 50)                5050
_________________________________________________________________
dense_35 (Dense)             (None, 10)                510
_________________________________________________________________
dense_36 (Dense)             (None, 1)                 11
=================================================================
Total params: 10,071
Trainable params: 10,071
Non-trainable params: 0
_________________________________________________________________

In [352]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [353]:
# Train the model
checkpoint_path = 'checkpoints/weights.{epoch:02d}.hdf5'

cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=4000)

fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5814 - accuracy: 0.7136
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7298
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7302
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7311
Epoch 5/100
784/804 [============================>.] - ETA: 0s - loss: 0.5501 - accuracy: 0.7317
Epoch 00005: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7328
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7327
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7342
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7334
Epoch 10/100
740/804 [==========================>...] - ETA: 0s - loss: 0.5466 - accuracy: 0.7326
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7335
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7331
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7343
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7343
Epoch 15/100
735/804 [==========================>...] - ETA: 0s - loss: 0.5437 - accuracy: 0.7330
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7343
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7343
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7343
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7338
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 20/100
717/804 [=========================>....] - ETA: 0s - loss: 0.5402 - accuracy: 0.7353
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7352
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7350
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7353
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7357
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7365
Epoch 25/100
683/804 [========================>.....] - ETA: 0s - loss: 0.5384 - accuracy: 0.7363
Epoch 00025: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7357
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7370
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7369
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7370
Epoch 30/100
667/804 [=======================>......] - ETA: 0s - loss: 0.5361 - accuracy: 0.7376
Epoch 00030: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7364
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7376
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7379
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7378
Epoch 35/100
646/804 [=======================>......] - ETA: 0s - loss: 0.5371 - accuracy: 0.7373
Epoch 00035: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7383
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7389
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7379
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7385
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7387
Epoch 40/100
620/804 [======================>.......] - ETA: 0s - loss: 0.5339 - accuracy: 0.7384
Epoch 00040: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7388
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7392
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7388
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7386
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7372
Epoch 45/100
621/804 [======================>.......] - ETA: 0s - loss: 0.5335 - accuracy: 0.7407
Epoch 00045: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7389
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7393
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7390
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7391
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7389
Epoch 50/100
583/804 [====================>.........] - ETA: 0s - loss: 0.5331 - accuracy: 0.7387
Epoch 00050: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7386
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7388
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7397
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7394
Epoch 55/100
582/804 [====================>.........] - ETA: 0s - loss: 0.5347 - accuracy: 0.7375
Epoch 00055: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7401
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7395
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7378
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7399
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7386
Epoch 60/100
553/804 [===================>..........] - ETA: 0s - loss: 0.5318 - accuracy: 0.7417
Epoch 00060: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7394
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7399
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7400
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7405
Epoch 64/100

804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7402
Epoch 65/100
523/804 [==================>...........] - ETA: 0s - loss: 0.5284 - accuracy: 0.7424
Epoch 00065: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7397
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7400
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7400
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7398
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7398
Epoch 70/100
502/804 [=================>............] - ETA: 0s - loss: 0.5294 - accuracy: 0.7417
Epoch 00070: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7402
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7403
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7412
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7404
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7408
Epoch 75/100
488/804 [=================>............] - ETA: 0s - loss: 0.5285 - accuracy: 0.7408
Epoch 00075: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7408
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7405
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7400
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7411
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7406
Epoch 80/100
458/804 [================>.............] - ETA: 0s - loss: 0.5293 - accuracy: 0.7402
Epoch 00080: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7406
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7402
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7406
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7407
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7406
Epoch 85/100
454/804 [===============>..............] - ETA: 0s - loss: 0.5280 - accuracy: 0.7440
Epoch 00085: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7409
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7406
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7408
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7409
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7403
Epoch 90/100
429/804 [===============>..............] - ETA: 0s - loss: 0.5253 - accuracy: 0.7415
Epoch 00090: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7405
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7413
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7406
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7412
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7413
Epoch 95/100
414/804 [==============>...............] - ETA: 0s - loss: 0.5328 - accuracy: 0.7361
Epoch 00095: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7410
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7405
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7412
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7413
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5288 - accuracy: 0.7414
Epoch 100/100
383/804 [=============>................] - ETA: 0s - loss: 0.5278 - accuracy: 0.7455
Epoch 00100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7409

In [354]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5676 - accuracy: 0.7298
Loss: 0.5676217675209045, Accuracy: 0.7297959327697754

In [350]:
nn.save('AlphabetSoupCharity_Optimization.h5')